.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: rgba(31, 0, 0, 0.65);
  border-top: 1px solid rgb(231, 231, 0);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoCont {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid rgb(231, 231, 0);
  border-radius: 50%;
  overflow: hidden;
}

.logo {
  height: 80%;
}

.iconCont {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  font-size: 2em;
  color: rgb(231, 231, 0);
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}
