.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  position: fixed;
  background: rgba(31, 0, 0, 0.65);
  border-bottom: 1px solid rgb(231, 231, 0);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoCont {
  height: 50px;
  width: 50px;
  background-color: black;
  border: 1px solid rgb(231, 231, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  height: 100%;
}

.navbarTitle {
  color: rgb(231, 231, 0);
  border-radius: 30px;
  margin: 0;
  font-size: 1.7em;
  margin-left: 20px;
}
