.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 20;
  backdrop-filter: blur(10px);
}

.sidebar.visible {
  left: 0;
  pointer-events: auto;
}

.navbuttons {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.navbuttons button {
  margin-bottom: 10px;
  width: 70%;
  height: 10%;
  background-color: #004e12;
  color: rgb(231, 231, 0);

  border-radius: 30px;
}

.aboutus {
  border-top: 1px solid rgb(231, 231, 0);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.aboutus button {
  width: 70%;
  height: 10%;
  background-color: #004e12;
  color: rgb(231, 231, 0);

  border-radius: 30px;
}
